name: CI

on:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.10", "3.12", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup_backend
        with:
          python-version: ${{ matrix.python-version }}

      - run: uv run pre-commit run --all-files

  types:
    needs: [pre-commit]
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.10", "3.12", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup_backend
        with:
          python-version: ${{ matrix.python-version }}

      - run: uv run pyright .

  tests:
    needs: [pre-commit, types]
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.9", "3.12"]
        streamlit-version: ["1.25", "1.36", "latest"]

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup_frontend
      - uses: ./.github/actions/setup_backend
        with:
          python-version: ${{ matrix.python-version }}
          streamlit-version: ${{ matrix.streamlit-version }}

      - run: uv run playwright install

      - run: uv run pytest tests/

      # run playwright tests & save screenshots
      - run: uv run pytest tests/playwright.py --verbose

      - uses: actions/upload-artifact@v4
        with:
          name: screenshots-${{ matrix.python-version }}-${{ matrix.streamlit-version }}
          path: tests/screenshots/
